.advantages {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;

  @media (--not-mobile) {
    grid-column: 1 / -1;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;

  @media (--mobile) {
    margin-block: 25px 28px;
  }

  @media (--not-mobile) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
  }
}

.advantages__item {
  &--housing {
    --icon: url("../../icons/sprite.svg#housing");
  }

  &--food {
    --icon: url("../../icons/sprite.svg#food");
  }

  &--souvenirs {
    --icon: url("../../icons/sprite.svg#souvenirs");
  }

  @media (--mobile) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 22px;
    margin-left: 18px;
  }

  @media (--tablet) {
    margin: auto;

    &--housing {
      width: 185px;
      padding-top: 50px;
      padding-bottom: 59px;
    }

    &--food {
      width: 180px;
      padding-top: 53px;
      padding-bottom: 59px;
    }

    &--souvenirs {
      width: 193px;
      padding-top: 47px;
      padding-bottom: 81px;
    }
  }

  @media (--desktop) {
    margin: auto;
    width: 313px;
    padding-top: 54px;
    padding-bottom: 83px;
  }

  &::before {
    content: var(--icon);
    display: block;
    width: 40px;
    height: 40px;

    @media (--not-mobile) {
      width: 80px;
      height: 80px;
      margin: 0 auto;
    }
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;

  @media (--mobile) {
    margin-left: 7px;
    padding-top: 8px;

    &--food {
      margin-left: 12px;
    }

    &--souvenirs {
      margin-left: 4px;
    }
  }

  @media (--not-mobile) {
    margin-top: 24px;
    margin-bottom: 21px;
    font-size: 21px;
  }

  @media (--tablet) {
    &--housing {
      margin-top: 26px;
    }

    &--food {
      margin-top: 27px;
    }

    &--souvenirs {
      margin-top: 26px;
    }
  }
}

.advantages__description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;

  @media (--mobile) {
    margin-top: 10px;
    text-align: left;

    &--housing {
      width: 225px;
      margin-left: 47px;
    }

    &--food {
      width: 234px;
      height: 42px;
      margin-left: 52px;
    }

    &--souvenirs {
      width: 202px;
      height: 42px;
      margin-left: 44px;
    }
  }

  @media (--desktop) {
    padding-inline: 8px;
  }
}
