.advantages {
  display: block;

  @media (--not-mobile) {
    width: 282px;
  }
}

.advantages__list {
  list-style-type: none;
}

.advantages__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
}

.advantages__description {
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
}
