.attraction__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: 236px;
  margin: 49px auto 20px;

  @media (--tablet) {
    font-size: 21px;
    width: 308px;
    margin: 48px auto 20px;
  }

  @media (--desktop) {
    font-size: 21px;
    width: 306px;
    margin: 56px auto 20px;
  }
}

.attraction__list {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 20px;

  @media (--tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.attraction__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
