.attraction__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.attraction__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
