.attraction {
  margin-top: 49px;
  margin-bottom: 49px;

  @media (--tablet) {
    margin-top: 48px;
    margin-bottom: 42px;
  }

  @media (--desktop) {
    margin-top: 56px;
    margin-bottom: 56px;
  }
}

.attraction__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;

  @media (--not-mobile) {
    font-size: 21px;
  }

  @media (--tablet) {
    margin-bottom: 28px;

    @media (--desktop) {
      margin-bottom: 56px;
    }
  }
}

.attraction__list {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 20px;

  @media (--tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.attraction__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
