.benefits {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;

  @media (--not-mobile) {
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
  }
}


.benefits__item:nth-child(3) {
  background-color: #eeeeee;

  @media (--mobile) {
    padding: 26px 26px 24px 26px;
  }

  @media (--tablet) {
    padding: 42px 34px 63px 33px;
  }

  @media (--desktop) {
    width: 315px;
    padding: 43px 43px 62px 42px;
  }
}

.benefits__item:nth-child(4) {
  background-color: #eeeeee;

  @media (--mobile) {
    padding: 24px 41.5px 24px 41.5px;
  }

  @media (--tablet) {
    padding: 41px 48px 41px 46px;
  }

  @media (--desktop) {
    width: 292px;
    padding: 42px 54px 61px;
  }
}

.benefits__item:nth-child(5) {
  background-color: #eeeeee;

  @media (--mobile) {
    padding: 24px 18px 26px 18px;
  }

  @media (--tablet) {
    padding: 42px 41.5px;
  }

  @media (--desktop) {
    width: 290px;
    padding: 43px 55px 62px;
  }
}

.benefits__number {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 49px;

  @media (--not-mobile) {
    font-size: 21px;
    margin-bottom: 57px;
  }
}

.benefits__description {
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (--not-mobile) {
    font-weight: 400;
  }
}

.benefits__text {
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;

  @media (--mobile) {
    padding: 54px 16px 35px 15px;
  }

  @media (--tablet) {
    padding: 41.5px 32px;
  }

  @media (--desktop) {
    padding: 47px 52px 57px 53px;
  }
}

.benefits__text:last-child {
  @media (--mobile) {
    padding: 39px 16px 35px 15px;
  }
}

.benefits__img {
  grid-column-end: span 2;
}

.benefits__item:nth-child(2n+2) .photo-sedona {
  @media (--not-mobile) {
    order: -1;
  }
}

.benefits__item--illustrated {
  @media (--not-mobile) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
