.benefits {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.benefits__number {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
}

.benefits__description {
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
}
