.button {
  background: transparent;
  background-color: #81b3d2;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;

  &--index {
    display: block;
    margin: auto;
    width: 186px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    padding: 16px 49px;
    text-transform: uppercase;
    border: 0;

    @media (--mobile) {
      margin-top: 32px;
    }

    @media (--not-mobile) {
      font-size: 21px;
      width: 360px;
    }

    &:hover {
      background: #669ec0;
    }

    &:active {
      background: #5496bd;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--form {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    padding: 18.5px 33px 13.5px;
    text-transform: uppercase;
    border: 0;
  }
}
