.catalog {
  @media (--mobile) {
    width: 280px;
  }
}

.catalog__list {
  text-decoration: none;
}

.catalog__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.catalog__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.catalog__like {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
