.catalog {
  margin: 0;
  padding: 0;
}


.catalog__list {
  list-style-type: none;
  width: 280px;
  margin: auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @media (--tablet) {
    width: 648px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--desktop) {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__item {
  @media (--mobile) {
    margin: 24px auto 25px;
  }

  @media (--not-mobile) {
    grid-column: 1/-1;
  }
}

.catalog__item-image {
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;

  @media (--mobile) {
    width: 280px;
    height: 280px;
  }

  @media (--tablet) {
    width: 648px;
    height: 400px;
  }

  @media (--desktop) {
    width: 1200px;
    height: 400px;
  }
}

.catalog__item-two-image {
  margin: 0;
  padding: 0;

  @media (--mobile) {
    margin: 24px auto 25px;
    width: 280px;
    height: 280px;
  }

  @media (--tablet) {
    width: 324px;
    height: 267px;
  }

  @media (--desktop) {
    width: 400px;
    height: 267px;
  }
}

.catalog__signatur {
  @media (--not-mobile) {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 15px 20px;
    background-color: #f2f2f2;
  }

  @media (--desktop) {
    background-color: transparent;
  }
}

.catalog__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.catalog__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;

  @media (--not-desktop) {
    color: #333333;
  }
}

.catalog__like {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.catalog__like p {
  margin: 0;
  padding-top: 3px;
}

.catalog__like-svg {
  width: 23px;
  height: 21px;
  margin-right: 14px;
  opacity: 0.3;

  @media (--not-mobile) {
    margin-right: 9px;
  }
}
