.copyright {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  align-self: center;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }

  &::after {
    content: "";
    width: 26px;
    height: 34px;
    background: currentcolor;
    mask: url("../../icons/sprite.svg#htmlacademy") no-repeat center / contain;
  }
}
