.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 121px;
  text-transform: uppercase;

  @media (--mobile) {
    margin-left: 80px;
  }
}

.copyright__text:hover {
  color: #81b3d2;
}

.copyright__text:disabled {
  color: #b3b3b3;
}

.copyright__link {
  @media (--not-mobile) {
    margin-top: 43px;
  }
}
