.description__header {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.description__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  @media (--not-mobile) {
    font-size: 21px;
  }

  @media (--mobile) {
    margin: 32px 35px;
  }


  &--form {
    font-size: 30px;
    line-height: 26px;
  }

  &--catalog {
    font-size: 30px;
    line-height: 26px;
  }
}

.description__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  &--form {
    font-size: 14px;
    line-height: 24px;
  }

  &--catalog {
    font-size: 14px;
    line-height: 21px;
  }
}
