.description {
  text-align: center;

  &--catalog {
    text-align: center;
    text-transform: uppercase;

    @media (--tablet) {
      margin-top: 62px;
      margin-bottom: 61px;

      br {
        display: none;
      }
    }

    @media (--desktop) {
      margin-top: 104px;
      margin-bottom: 69px;

      br {
        display: none;
      }
    }
  }

  &--form {
    text-align: center;
    text-transform: uppercase;

    @media (--mobile) {
      margin-top: 30px;
      margin-bottom: 28px;
    }

    @media (--tablet) {
      margin-top: 60px;
      margin-bottom: 106px;
    }

    @media (--desktop) {
      margin-top: 115px;
      margin-bottom: 66px;
    }
  }
}

.description__header {
  @media (--mobile) {
    margin: 32px 20px;
  }

  @media (--tablet) {
    margin: auto;
    margin-top: 48px;
    margin-bottom: 55px;
    width: 520px;
  }

  @media (--desktop) {
    margin: auto;
    margin-top: 59px;
    margin-bottom: 45px;
    width: 483px;
  }
}

.description__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  @media (--not-mobile) {
    margin-bottom: 26px;
    font-size: 21px;
  }

  &--catalog {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    @media (--mobile) {
      margin-top: 47px;
      margin-bottom: 26px;
    }

    @media (--not-mobile) {
      font-size: 30px;
      line-height: 26px;
      margin: 0;
      margin-bottom: 26px;
    }
  }

  &--form {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    @media (--not-mobile) {
      font-size: 30px;
    }
  }
}

.description__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;

  &--catalog {
    font-size: 14px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 24.68px;

    @media (--not-mobile) {
      margin: 0;
    }
  }

  &--form {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-top: 24px;

    @media (--not-mobile) {
      br {
        display: none;
      }
    }

    @media (--tablet) {
      line-height: 24px;
      margin-top: 20px;
    }

    @media (--desktop) {
      margin-top: 26px;
    }
  }
}
