.emotions__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  width: 245px;
  margin: 49px auto 20px;

  @media (--tablet) {
    font-size: 21px;
    width: 402px;
    margin: 42px auto 28px;
  }

  @media (--desktop) {
    font-size: 21px;
    width: 400px;
    margin: 87px auto 28px;
  }
}

.emotions__field {
  resize: vertical;
  background: #f2f2f2;
  color: rgba(0, 0, 0);
  border: 0;
  padding: 16px;
  width: 279px;
  height: 150px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-left: 20px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }

  @media (--tablet) {
    margin-left: 60px;
    width: 648px;
    height: 160px;
  }

  @media (--desktop) {
    margin-left: 216px;
    width: 768px;
    height: 160px;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
    opacity: 1;
  }
}
