.form__button {
  margin: auto;
  margin-top: 56px;
  text-align: center;

  @media (--not-mobile) {
    margin-top: 48px;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
  }

  @media (--tablet) {
    margin-left: 60px;
    margin-right: 60px;
  }

  @media (--desktop) {
    margin-top: 44px;
    margin-bottom: 39px;
    margin-left: 216px;
    margin-right: 216px;
  }
}

.form__text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
  height: 21px;
  margin: 0;
  margin-right: 20px;

  @media (--not-mobile) {
    font-size: 14px;
    margin: 0;
    margin-top: 23px;
    color: #333333;
  }
}
