.impression::after {
  @media (--mobile) {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
  }
}

.impression__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  width: 233px;
  margin: 59px auto 20px;

  @media (--tablet) {
    font-size: 21px;
    width: 402px;
    margin: 47px auto 28px;
  }

  @media (--desktop) {
    font-size: 21px;
    width: 400px;
    margin: 55px auto 28px;
  }
}

.impression__list {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  list-style-type: none;
  margin-left: 20px;

  @media (--tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.impression__different {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  appearance: none;
  box-sizing: border-box;
  margin: 0;
  width: 46px;
  height: 46px;
  background: #f2f2f2;
}

.impression__different[type="radio"] {
  border-radius: 23px;
}

.impression__different[type="radio"]:checked {
  --icon: url("../../icons/sprite.svg#dot");
}

.impression__different::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: var(--icon) no-repeat center / contain;
}
