.impression {
}

.impression__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;

  @media (--not-mobile) {
    font-size: 21px;
    margin-bottom: 28px;
  }
}

.impression__list {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  list-style-type: none;
  margin-left: 20px;

  @media (--tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.impression__different {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
