.impression__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  width: 233px;
  margin: 59px auto 20px;

  @media (--tablet) {
    font-size: 21px;
    width: 402px;
    margin: 47px auto 28px;
    display: grid;
  }

  @media (--desktop) {
    font-size: 21px;
    width: 400px;
    margin: 55px auto 28px;
  }
}

.impression__title::before {
  @media (--desktop) {
    content: "";
    position: relative;
    width: 338px;
    height: 1px;
    background-color: #e5e5e5;
  }
}

.impression__list {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  list-style-type: none;

  @media (--mobile) {
    margin-left: 20px;
  }

  @media (--tablet) {
    padding: 0 36px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--desktop) {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.impression__item label {
  display: flex;
  align-items: center;
  gap: 16px;
}

.impression__item {
  @media (--mobile) {
    margin-bottom: 16px;
  }

  @media (--tablet) {
    margin-bottom: 16px;
  }
}

.impression__different {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  appearance: none;
  box-sizing: border-box;
  margin: 0;
  width: 46px;
  height: 46px;
  background: #f2f2f2;
}

.impression__different[type="radio"] {
  border-radius: 23px;
}

.impression__different[type="radio"]:checked {
  --icon: url("../../icons/sprite.svg#dot");
}

.impression__different::before {
  content: "";
  display: block;
  position: relative;
  left: calc(50% - 16px / 2 + 0px);
  top: calc(50% - 16px / 2);
  width: 16px;
  height: 16px;
  background: var(--icon) no-repeat center / contain;
}
