.information {
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  &--catalog {
    @media (--mobile) {
      width: 266px;
      margin: auto;
      margin-top: 17px;
      margin-bottom: 38px;
    }

    @media (--tablet) {
      width: 445px;
      margin: auto;
      margin-top: 58px;
      margin-bottom: 66px;
    }

    @media (--desktop) {
      width: 445px;
      margin: auto;
      margin-top: 62px;
      margin-bottom: 64px;
    }
  }
}

.information__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-top: 38px;
  margin-bottom: 21px;

  @media (--not-mobile) {
    font-size: 30px;
    margin-top: 61px;
    margin-bottom: 26px;
  }

  &--form {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
  }

  &--catalog {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 26px;

    @media (--not-mobile) {
      font-weight: 700;
      font-size: 30px;
      line-height: 26px;
    }
  }
}

.information__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 261px;
  margin: auto;
  padding: 0;

  @media (--tablet) {
    margin-bottom: 40px;
    width: 435px;
  }

  @media (--desktop) {
    margin-bottom: 45px;
    width: 435px;
  }

  &--catalog {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;

    @media (--not-mobile) {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;

      br {
        display: none;
      }
    }
  }
}

.maps {
  display: block;
}
