.information {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.information__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  @media (--not-mobile) {
    font-size: 30px;
  }

  &--form {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
  }

  &--catalog {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
  }
}

.information__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.information__button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}
