.main-footer {
  padding: 0;
  margin: 0;
}

.contacts__link {
  color: #000000;
}

.social__list {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social__item {
  padding: 12px;
  background-color: #81b3d2;
}

.social__link::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: var(--icon) no-repeat center / contain;
}

.social__link--icon_vk {
  --icon: url("../../icons/sprite.svg#vk");
}

.social__link--icon_tg {
  --icon: url("../../icons/sprite.svg#tg");
}

.social__link--icon_yt {
  --icon: url("../../icons/sprite.svg#yt");
}
