.main-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #ffffff;
}

.main-header__logo-image {
  position: absolute;
  top: 0;
  height: 96px;
  width: 185px;
  margin-left: 67px;
}
