.main-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #ffffff;
}

.main-header__logo-image {
  position: absolute;
  top: 0;
  height: 96px;
  width: 185px;
  margin-left: 67px;

  @media (--tablet) {
    margin: 0;
    left: 291px;
  }

  @media (--desktop) {
    margin: 0;
    left: 508px;
  }
}
