.main-nav {
  --header-min-height: 56px;

  position: relative;

  &--nojs {
    --header-min-height: 0px;
    --list-position: static;

    position: static;
    min-height: var(--header-min-height);
  }

  &--closed {
    --button-icon: url("../../icons/sprite.svg#burger");
    --nav-visibility: hidden;
  }

  &--opened {
    --button-icon: url("../../icons/sprite.svg#cross");
    --nav-visibility: visible;
  }
}

.main-nav__wrapper {
  display: grid;

  @media (--tablet) {
    grid-template-columns: repeat(5, 1fr);
    background-color: #ffffff;
  }
}

.main-nav__toggle {
  @media (--mobile) {
    position: absolute;
    z-index: 5;
    right: 0;
    padding: 0;
    display: grid;
    place-items: center;
    margin: 15px 18px;
    width: 26px;
    height: 26px;
    border: none;
    background: transparent;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    background: var(--button-icon);
  }
}

.main-nav__list {
  list-style-type: none;

  @media (--mobile) {
    position: var(--list-position, absolute);
    visibility: var(--nav-visibility);
    width: 320px;
    order: -1;
    z-index: 2;
  }
}

.main-header__logo {
  z-index: 1;
  order: 2;
  margin: 0 auto;
  margin-bottom: calc(var(--header-min-height, 0px) - 96px);

  @media (--tablet) {
    margin-inline: -16px;
  }
}
