.main-footer {
  padding: 0;
  margin: 0;
}

.main-footer__wrapper {
  display: grid;
  place-items: center;
  gap: 28px;
  padding: 28px 0;

  @media (--not-mobile) {
    grid-template-columns: repeat(3, 1fr);
    padding: 36px 0;
  }
}

.main-footer__contacts-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}
