.main-nav {
  height: 56px;

  &--closed {
    @media (--mobile) {
      display: flex;
    }
  }
}

.main-nav__wrapper {
  @media (--mobile) {
    margin-left: 67px;
  }

  @media (--tablet) {
    display: grid;
    grid-template-columns: 153px 153px 153px 153px 153px;
    background-color: #ffffff;
  }

  @media (--desktop) {
    display: grid;
    grid-template-columns: 240px 240px 240px 240px 240px;
    background-color: #ffffff;
  }
}

.main-nav__toggle {
  padding: 0;
  display: block;
  z-index: 2;
  width: 22.9px;
  height: 22px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  order: 2;
  margin-top: 17px;
  margin-left: 25px;

  @media (--not-mobile) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  @media (--mobile) {
    content: "";
    display: block;
    width: 22.9px;
    height: 22px;
    background-color: #81b3d2;
    mask-image: url(../../icons/sprite.svg#burger);
  }
}

.main-nav--opened .main-nav__toggle {
  @media (--mobile) {
    position: absolute;
    right: 20px;
    background-color: #81b3d2;
  }
}

.main-nav--opened .main-nav__toggle::before {
  @media (--mobile) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 22.2px;
    height: 22.2px;
    background-color: #ffffff;
    mask-image: url(../../icons/sprite.svg#cross);
  }
}

.main-nav--opened .main-nav__list {
  @media (--mobile) {
    width: 320px;
  }
}

.main-nav--closed .main-nav__list {
  @media (--mobile) {
    display: none;
  }
}

.main-nav--opened .main-header__logo {
  display: none;
}

.main-header__logo {
  z-index: 1;
  margin: 0 auto;
}

.main-nav__list {
  @media (--mobile) {
    z-index: 2;
    list-style-type: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav--nojs .site-list__item--active a {
  padding-right: 21px;
  padding-left: 21px;
  text-align: left;
}

.main-nav--nojs .user-list__item {
  display: block;
  background-color: #81b3d2;
}
