.site-list {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;

  @media (--tablet) {
    display: grid;
    grid-area: 1 / 1 / 2 / 6;
    width: 768px;
    grid-template-columns: 153px 153px 153px 153px 153px;
  }

  @media (--desktop) {
    display: grid;
    grid-area: 1 / 1 / 2 / 6;
    width: 1200px;
    grid-template-columns: repeat(5, 1fr);
  }
}

.site-list__item {
  text-align: center;
  padding-top: 17px;
  padding-bottom: 12px;
  background-color: #81b3d2;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  @media (--tablet) {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 17px;
    background-color: #ffffff;
    border: 0;
  }

  @media (--desktop) {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 17px;
    background-color: #ffffff;
    border: 0;
  }
}

.site-list a {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  color: #ffffff;

  @media (--not-mobile) {
    font-size: 14px;
    line-height: 21px;
    color: #000000;

    &:hover {
      color: #766357;
    }
  }
}


.site-list__item:nth-child(1) {
  @media (--not-mobile) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.site-list__item:nth-child(2) {
  @media (--not-mobile) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.site-list__item:nth-child(3) {
  @media (--not-mobile) {
    grid-column: 4/5;
    grid-row: 1/2;
  }
}

.site-list__item:nth-child(4) {
  @media (--not-mobile) {
    grid-column: 5/6;
    grid-row: 1/2;
  }
}
