.your-contact {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 64px;
  margin-bottom: 59px;

  @media (--not-mobile) {
    margin: 0;
  }

  &::after {
    @media (--mobile) {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #e5e5e5;
    }
  }
}

.your-contact__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  width: 238px;
  margin: 64px auto 20px;

  @media (--not-mobile) {
    width: 278px;
    font-size: 21px;
    margin: 0 auto 28px;
  }
}

.your-contact__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.your-contact__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  display: table-caption;
  margin-left: 20px;

  @media (--tablet) {
    margin-left: 60px;
  }

  @media (--desktop) {
    margin-left: 120px;
  }
}

.your-contact__item input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  border: 0;
  padding: 16px 0 16px 16px;
  margin-bottom: 16px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }

  @media (--tablet) {
    width: 254px;
  }

  @media (--desktop) {
    width: 414px;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
    opacity: 1;
  }
}
