.your {
  @media (--tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 106px;
    margin-bottom: 48px;
  }

  @media (--desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 66px;
    margin-bottom: 56px;
  }
}
