<!DOCTYPE html>
<html class="page" lang="ru">

<head>
  <meta charset="utf-8">
  <title>{{ pages[pageId].name }} | Sedona | HTML Academy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" href="../favicon/favicon32.svg" type="image/svg+xml">
</head>

<body class="page__body">
  {% include "./header.twig" %}

  {% block main %}{% endblock %}

  {% include "./footer.twig" %}
  <script src="script.js"></script>
</body>

</html>
