{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container main-container--catalog">
  <h1 class="visually-hidden">фото и видео</h1>
  <section class="description description--catalog">
    <header class="description__header description__header--catalog">
      <h2 class="description__title description__title--catalog">
        фото и видео
      </h2>
      <p class="description__text description__text--catalog">
        Не можете решиться на путешествие из-за курса? Фотографии помогут вам забыть о политике и экономике.
      </p>
    </header>
  </section>
  <section class="catalog">
    <h2 class="photo visually-hidden">фото</h2>
    <div class="catalog__wrapper">
      <ul class="catalog__list">
        <li class="catalog__item">
          <p class="catalog__item-image">
            {% include "./templates/picture.twig" with {name: "catalog/photo-1", class: "catalog__item-image-photo-1"} %}
          </p>
          <div class="catalog__signatur">
            <div>
              <h3 class="catalog__title">Неродные просторы</h3>
              <p class="catalog__author">Автор фото: Борис</p>
            </div>
            <div class="catalog__like">
              <svg class="catalog__like-svg">
                <use href="./icons/sprite.svg#like" />
              </svg>
              <p>1350</p>
            </div>
          </div>
        </li>
        <li class="catalog__item-two">
          <p class="catalog__item-two-image">
            {% include "./templates/picture.twig" with {name: "catalog/photo-2", class: "catalog__item-image-photo-2"} %}
          </p>
          <div class="catalog__signatur">
            <div>
              <h3 class="catalog__title">Местная растительность</h3>
              <p class="catalog__author">Автор фото: Сергей</p>
            </div>
            <div class="catalog__like">
              <svg class="catalog__like-svg">
                <use href="./icons/sprite.svg#like" />
              </svg>
              <p>143</p>
            </div>
          </div>
        </li>
        <li class="catalog__item-two">
          <p class="catalog__item-two-image">
            {% include "./templates/picture.twig" with {name: "catalog/photo-3", class: "catalog__item-image-photo-3"} %}
          </p>
          <div class="catalog__signatur">
            <div>
              <h3 class="catalog__title">Дорога на север</h3>
              <p class="catalog__author">Автор фото: Петр</p>
            </div>
            <div class="catalog__like">
              <svg class="catalog__like-svg">
                <use href="./icons/sprite.svg#like" />
              </svg>
              <p>96</p>
            </div>
          </div>
        </li>
        <li class="catalog__item-two">
          <p class="catalog__item-two-image">
            {% include "./templates/picture.twig" with {name: "catalog/photo-4", class: "catalog__item-image-photo-4"} %}
          </p>
          <div class="catalog__signatur">
            <div>
              <h3 class="catalog__title">Мост дьявола</h3>
              <p class="catalog__author">Автор фото: Антон</p>
            </div>
            <div class="catalog__like">
              <svg class="catalog__like-svg">
                <use href="./icons/sprite.svg#like" />
              </svg>
              <p>254</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="information information--catalog">
    <h2 class="information__title information__title--catalog">
      Все еще сомневаетесь?
    </h2>
    <p class="information__text information__text--catalog">
      Смотрите видеопрезентацию и скорее за билетами, пока они не подорожали в очередной раз!
    </p>
  </section>
  <div class="video">
    {% include "./templates/picture.twig" with {name: "catalog/video", class: "video-catalog"} %}
  </div>
</main>
{% endblock %}
