{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container">
  <h1 class="visually-hidden">фото и видео</h1>
  <section class="description description--catalog">
    <header class="description__header description__header--catalog">
      <h2 class="description__title description__title--catalog">
        фото и видео
      </h2>
      <p class="description__text description__text--catalog">
        Не можете решиться на <br>путешествие из-за курса? <br> Фотографии помогут вам забыть о <br>политике и
        экономике.
      </p>
    </header>
  </section>
  <section class="catalog">
    <h2 class="photo visually-hidden">фото</h2>
    <div class="catalog__wrapper">
      <ul class="catalog__list">
        <li class="catalog__item">
          <p class="catalog__item-image">
            <picture>
              <source media="(min-width: 1200px)"
                srcset="img/catalog/photo-1-desktop@1x.jpg 1x, img/catalog/photo-1-desktop@2x.jpg 2x">
              <source media="(min-width: 768px)"
                srcset="img/catalog/photo-1-tablet@1x.jpg 1x, img/catalog/photo-1-tablet@2x.jpg 2x">
              <img src="img/catalog/photo-1-mobile@1x.jpg" srcset="img/catalog/photo-1-mobile@2x.jpg 2x"
                alt="Народные просторы">
            </picture>
          </p>
          <div class="catalog__signatur">
            <div>
              <h3 class="catalog__title">Неродные просторы</h3>
              <p class="catalog__author">Автор фото: Борис</p>
            </div>
            <p class="catalog__like">1350</p>
          </div>
        </li>
        <li class="catalog__item-two">
          <p class="catalog__item-two-image">
            <picture>
              <source media="(min-width: 1200px)"
                srcset="img/catalog/photo-2-desktop@1x.jpg 1x, img/catalog/photo-2-desktop@2x.jpg 2x">
              <source media="(min-width: 768px)"
                srcset="img/catalog/photo-2-tablet@1x.jpg 1x, img/catalog/photo-2-tablet@2x.jpg 2x">
              <img src="img/catalog/photo-2-mobile@1x.jpg" srcset="img/catalog/photo-2-mobile@2x.jpg 2x"
                alt="Местная растительность.">
            </picture>
          </p>
          <div class="catalog__signatur">
            <div>
              <h3 class="catalog__title">Местная растительность</h3>
              <p class="catalog__author">Автор фото: Сергей</p>
            </div>
            <p class="catalog__like">143</p>
          </div>
        </li>
        <li class="catalog__item-two">
          <p class="catalog__item-two-image">
            <picture>
              <source media="(min-width: 1200px)"
                srcset="img/catalog/photo-3-desktop@1x.jpg 1x, img/catalog/photo-3-desktop@2x.jpg 2x">
              <source media="(min-width: 768px)"
                srcset="img/catalog/photo-3-tablet@1x.jpg 1x, img/catalog/photo-3-tablet@2x.jpg 2x">
              <img src="img/catalog/photo-3-mobile@1x.jpg" srcset="img/catalog/photo-3-mobile@2x.jpg 2x"
                alt="Дорога на север.">
            </picture>
          </p>
          <div class="catalog__signatur">
            <div>
              <h3 class="catalog__title">Дорога на север</h3>
              <p class="catalog__author">Автор фото: Петр</p>
            </div>
            <p class="catalog__like">96</p>
          </div>
        </li>
        <li class="catalog__item-two">
          <p class="catalog__item-two-image">
            <picture>
              <source media="(min-width: 1200px)"
                srcset="img/catalog/photo-4-desktop@1x.jpg 1x, img/catalog/photo-4-desktop@2x.jpg 2x">
              <source media="(min-width: 768px)"
                srcset="img/catalog/photo-4-tablet@1x.jpg 1x, img/catalog/photo-4-tablet@2x.jpg 2x">
              <img src="img/catalog/photo-4-mobile@1x.jpg" srcset="img/catalog/photo-4-mobile@2x.jpg 2x"
                alt="Мост дьявола.">
            </picture>
          </p>
          <div class="catalog__signatur">
            <div>
              <h3 class="catalog__title">Мост дьявола</h3>
              <p class="catalog__author">Автор фото: Антон</p>
            </div>
            <p class="catalog__like">254</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="information information--catalog">
    <h2 class="information__title information__title--catalog">
      Все еще сомневаетесь?
    </h2>
    <p class="information__text information__text--catalog">
      Смотрите видеопрезентацию и <br>скорее за билетами, пока они не <br>подорожали в очередной раз!
    </p>
  </section>
  <div class="video--catalog">
    <picture>
      <source media="(min-width: 1200px)"
        srcset="img/catalog/video-desctop@1x.jpg 1x, img/catalog/video-desctop@2x.jpg 2x">
      <source media="(min-width: 768px)"
        srcset="img/catalog/video-tablet@1x.jpg 1x, img/catalog/video-tablet@2x.jpg 2x">
      <img src="img/catalog/video-mobile@1x.jpg" srcset="img/catalog/video-mobile@2x.jpg 2x" alt="Превью видео.">
    </picture>
  </div>
</main>
{% endblock %}
