{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container main-container--form">
  <h1 class="visually-hidden">Отзывы</h1>
  <section class="description description--form">
    <header class="description__header description__header--form">
      <h2 class="description__title description__title--form">
        Оставьте свой отзыв
      </h2>
      <p class="description__text description__text--form">
        Помогите нашим отелям стать лучше! оставьте отзыв о них, а также о посещенных вами достопримечательностях
      </p>
    </header>
  </section>
  <form class="form" action="https://echo.htmlacademy.ru" method="post">
    <div class="your">
      <div class="your-self" role="group" aria-labelledby="your-self">
        <div class="your-self__title" id="your-self">Представьтесь:</div>
        <ul class="your-self__list">
          <li class="your-self__item">
            <label style="padding-left: 10px">
              Имя<span aria-hidden="true">*</span>:
              <input type="text" class="your-self__text" placeholder="Пётр" required>
            </label>
          </li>
          <li class="your-self__item">
            <label style="padding-left: 10px">
              Фамилия<span aria-hidden="true">*</span>:
              <input type="text" placeholder="Пустота" required>
            </label>
          </li>
          <li class="your-self__item">
            <label style="padding-left: 10px">
              Отчество:
              <input type="text" placeholder="Викторович">
            </label>
          </li>
        </ul>
      </div>
      <div class="your-contact" role="group" aria-labelledby="your-contact">
        <div class="your-contact__title" id="your-contact">Контактная информация:</div>
        <ul class="your-contact__list">
          <li class="your-contact__item">
            <label style="padding-left: 10px">
              Контактный телефон<span aria-hidden="true">*</span>:
              <input type="tel" placeholder="Введите телефон" required>
            </label>
          </li>
          <li class="your-contact__item">
            <label style="padding-left: 10px">
              Электронная почта<span aria-hidden="true">*</span>:
              <input type="email" placeholder="Введите e-mail" required>
            </label>
          </li>
        </ul>

      </div>
    </div>
    <div class="impression" role="group" aria-labelledby="impression">
      <div class="impression__title" id="impression">Ваше общее впечатление:</div>
      <ul class="impression__list">
        <li class="impression__item">
          <label>
            <input name="impression__different" class="impression__different" type="radio" value="positive" checked>
            Скорее положительное
          </label>
        </li>
        <li class="impression__item">
          <label>
            <input name="impression__different" class="impression__different" type="radio" value="negative">
            Скорее отрицательное
          </label>
        </li>
        <li class="impression__item">
          <label>
            <input name="impression__different" class="impression__different" type="radio" value="neutral">
            Затрудняюсь ответить
          </label>
        </li>
      </ul>
    </div>
    <div class="attraction" role="group" aria-labelledby="attraction">
      <div class="attraction__title" id="attraction">посещенные достопримечательности:</div>
      <ul class="attraction__list">
        <li class="attraction__item">
          <label>
            <input class="attraction__text" name="attraction__text" type="checkbox" value="bridge" checked>
            Мост Дьявола
          </label>
        </li>
        <li class="attraction__item">
          <label>
            <input class="attraction__text" name="attraction__text" type="checkbox" value="park" checked>
            Слайд-парк
          </label>
        </li>
        <li class="attraction__item">
          <label>
            <input class="attraction__text" name="attraction__text" type="checkbox" value="mountain" checked>
            Гора-Колокол
          </label>
        </li>
        <li class="attraction__item">
          <label>
            <input class="attraction__text" name="attraction__text" type="checkbox" value="rocks">
            Красные скалы
          </label>
        </li>
      </ul>
    </div>
    <div class="emotions">
      <label for="emotions" class="emotions__title">Опишите свои эмоции:</label>
      <textarea class="emotions__field" id="emotions" placeholder="Опишите подробно все свои восторги"></textarea>
    </div>
    <div class="form__button">
      <button class="button button--form" type="submit">Отправить отзыв</button>
      <p class="form__text" aria-hidden="true">* — обязательные поля</p>
    </div>
  </form>
</main>

{# Модальное окно #}
<div class="mistake-container mistake-container-open" hidden>
  <h2 class="mistake-container__title">Что-то пошло не так!</h2>
  <p class="mistake-container__text">Проверьте поля, выделенные красным, скорее всего вы забыли их заполнить</p>
  <button class="mistake-container__button button" type="submit">ок</button>
</div>

<div class="modal-container" hidden>
  <h2 class="modal-container__title">Ваш отзыв отправлен!</h2>
  <p class="modal-container__text">Спасибо за ваше участие, ваш отзыв уже поступил к нам. В ближайшее время мы
    опубликуем его на сайте.</p>
  <button class="modal-container__button button" type="submit">Закрыть окно</button>
</div>
{% endblock %}
