{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container main-form">
  <h1 class="visually-hidden">Отзывы</h1>
  <section class="description--form">
    <header class="description__header--form">
      <h2 class="description__title--form">
        Оставьте свой отзыв
      </h2>
      <p class="description__text--form">
        Помогите нашим отелям стать лучше! оставьте отзыв о них, а также о посещенных вами достопримечательностях
      </p>
    </header>
  </section>
  <form action="https://echo.htmlacademy.ru" method="post">
    <div class="your">
      <div class="your-self" role="group" aria-labelledby="your-self">
        <h3 class="your-self__title" id="your-self">Представьтесь:</h3>
        <ul class="your-self__list">
          <li class="your-self__item">
            <label style="padding-left: 10px">
              Имя<span aria-hidden="true">*</span>:
              <input type="text" class="your-self__text" placeholder="Пётр" required>
            </label>
          </li>
          <li class="your-self__item">
            <label style="padding-left: 10px">
              Фамилия<span aria-hidden="true">*</span>:
              <input type="text" placeholder="Пустота" required>
            </label>
          </li>
          <li class="your-self__item">
            <label style="padding-left: 10px">
              Отчество:
              <input type="text" placeholder="Викторович">
            </label>
          </li>
        </ul>
      </div>
      <div class="your-contact" role="group" aria-labelledby="your-contact">
        <h3 class="your-contact__title" id="your-contact">Контактная информация:</h3>
        <ul class="your-contact__list">
          <li class="your-contact__item">
            <label style="padding-left: 10px">
              Контактный телефон<span aria-hidden="true">*</span>:
              <input type="tel" placeholder="Введите телефон" required>
            </label>
          </li>
          <li class="your-contact__item">
            <label style="padding-left: 10px">
              Электронная почта<span aria-hidden="true">*</span>:
              <input type="email" placeholder="Введите e-mail" required>
            </label>
          </li>
        </ul>

      </div>
    </div>
    <div class="impression" role="group" aria-labelledby="impression">
      <h3 class="impression__title" id="impression">Ваше общее впечатление:</h3>
      <ul class="impression__list">
        <li class="impression__item">
          <label>
            <input name="impression__different" type="radio" value="positive" checked>
            Скорее положительное
          </label>
        </li>
        <li class="impression__item">
          <label>
            <input name="impression__different" type="radio" value="negative">
            Скорее отрицательное
          </label>
        </li>
        <li class="impression__item">
          <label>
            <input name="impression__different" type="radio" value="neutral">
            Затрудняюсь ответить
          </label>
        </li>
      </ul>
    </div>
    <div class="attraction" role="group" aria-labelledby="attraction">
      <h3 class="attraction__title" id="attraction">посещенные достопримечательности:</h3>
      <ul class="attraction__list">
        <li class="attraction__item">
          <label>
            <input name="attraction__text" type="checkbox" value="bridge" checked>
            Мост Дьявола
          </label>
        </li>
        <li class="attraction__item">
          <label>
            <input name="attraction__text" type="checkbox" value="park" checked>
            Слайд-парк
          </label>
        </li>
        <li class="attraction__item">
          <label>
            <input name="attraction__text" type="checkbox" value="mountain" checked>
            Гора-Колокол
          </label>
        </li>
        <li class="attraction__item">
          <label>
            <input name="attraction__text" type="checkbox" value="rocks">
            Красные скалы
          </label>
        </li>
      </ul>
    </div>
    <div class="emotions">
      <p class="emotions__title">Опишите свои эмоции:</p>
      <textarea class="emotions__field" id="emotions" placeholder="Опишите подробно все свои восторги"></textarea>
    </div>
    <div class="button__form">
      <button class="button button--form" type="submit">Отправить отзыв</button>
      <p class="button__text" aria-hidden="true">* — обязательные поля</p>
    </div>
  </form>
</main>
{% endblock %}
