{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container main-index">
  <h1 class="visually-hidden">Седона</h1>
  <section class="description">
    <div class="description__wrapper">
      <header class="description__header">
        <h2 class="description__title">
          Седона — небольшой городок в Аризоне, заслуживающий большего!
        </h2>
        <p class="description__text">
          Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!
        </p>
      </header>
      <ol class="benefits">
        <li class="benefits__item benefits__item--illustrated">
          <div class="real-hous">
            <h3 class="benefits__number">
              Настоящий городок
            </h3>
            <p class="benefits__description">
              Седона не атракцион для туристов, там течет своя жизнь
            </p>
          </div>
          <div class="benefits__img">
            <picture>
              <source media="(min-width: 1200px)"
                srcset="./img/photo-city-desktop@1x.jpg 1x, ./img/photo-city--desktop@2x.jpg 2x">
              <source media="(min-width: 768px)" srcset="./img/photo-city-tablet@1x 1x, ./img/photo-city-tablet@2x 2x">
              <img class="photo-sedona" src="./img/photo-city-mobile@1x.jpg" srcset="./img/photo-city-mobile@2x.jpg 2x"
                alt="Фотография седоны">
            </picture>
          </div>
          <div class="advantages">
            <ul class="advantages__list">
              <li class="advantages__item advantages__item--housing">
                <h3 class="advantages__title">Жилье</h3>
                <p class="advantages__description">Рекомендуем пожить в настоящем мотеле, все как в кино!</p>
              </li>
              <li class="advantages__item advantages__item--food">
                <h3 class="advantages__title">Еда</h3>
                <p class="advantages__description">Всегда заказывайте фирменный бургер,вы не разочаруетесь!</p>
              </li>
              <li class="advantages__item advantages__item--souvenirs">
                <h3 class="advantages__title">Сувениры</h3>
                <p class="advantages__description">Не только китайского, но и местного производства!</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="benefits__item benefits__item--illustrated">
          <div class="real-hous">
            <h3 class="benefits__number">
              Там есть мост дьявола
            </h3>
            <p class="benefits__description">
              Да, по нему можно пройти! Если вы осмелитесь, конечно
            </p>
          </div>
          <div class="benefits__img">
            <picture>
              <source media="(min-width: 1200px)"
                srcset="./img/photo-bridge-desktop@1x.jpg 1x, ./img/photo-bridge-desktop@2x.jpg 2x">
              <source media="(min-width: 768px)"
                srcset="./img/photo-bridge-tablet@1x.jpg 1x, ./img/photo-bridge-tablet@2x.jpg 2x">
              <img class="photo-sedona" src="./img/photo-bridge-mobile@1x.jpg"
                srcset="./img/photo-bridge-mobile@2x.jpg 2x" alt="Фотография моста">
            </picture>
          </div>
        </li>
        <li class="benefits__item">
          <h3 class="benefits__number">
            Небольшая площадь
          </h3>
          <p class="benefits__description">
            Все интересные места находятся очень близко
          </p>
        </li>
        <li class="benefits__item">
          <h3 class="benefits__number">
            Красивая дорога
          </h3>
          <p class="benefits__description">
            Ехать в седону из Лас-вегаса совсем не скучно!
          </p>
        </li>
        <li class="benefits__item">
          <h3 class="benefits__number">
            мало туристов
          </h3>
          <p class="benefits__description">
            Большинство едет в гранд каньон и толпится там
          </p>
        </li>
      </ol>
    </div>
  </section>
  <section class="information">
    <h2 class="information__title">
      Заинтересовались?
    </h2>
    <p class="information__text">
      Укажите предполагаемые даты поездки, и мы покажем вам лучшие предложения гостиниц в седоне
    </p>
    <div class="button__index">
      <a class="button button--index" href="#">Найти гостиницу</a>
    </div>
  </section>
  <div class="maps">
    <picture>
      <source media="(min-width: 1200px)" srcset="./img/map-desktop@1x.jpg 1x, ./img/map-desktop@2x.jpg 2x">
      <source media="(min-width: 768px)" srcset="./img/map-tablet@1x.jpg 1x, ./img/map-tablet@2x.jpg 2x">
      <img src="./img/map-mobile@1x.jpg" srcset="./img/map-mobile@2x.jpg 2x" alt="Карта городка Седона">
    </picture>
    <svg class="maps__svg" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M13.5 27C20.9558 27 27 20.9558 27 13.5C27 6.04416 20.9558 0 13.5 0C6.04416 0 0 6.04416 0 13.5C0 20.9558 6.04416 27 13.5 27Z"
        fill="white" />
    </svg>
    <svg class="maps__svg2" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M8.49998 16.8996C13.1392 16.8996 16.9 13.1388 16.9 8.49961C16.9 3.86042 13.1392 0.0996094 8.49998 0.0996094C3.86078 0.0996094 0.0999756 3.86042 0.0999756 8.49961C0.0999756 13.1388 3.86078 16.8996 8.49998 16.8996Z"
        fill="#81B3D3" />
    </svg>
  </div>
</main>
{% endblock %}
