{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container main-container--index">
  <h1 class="visually-hidden">Седона</h1>
  <section class="description">
    <div class="description__wrapper">
      <header class="description__header">
        <h2 class="description__title">
          Седона — небольшой городок в Аризоне, заслуживающий большего!
        </h2>
        <p class="description__text">
          Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!
        </p>
      </header>
      <ol class="benefits">
        <li class="benefits__item benefits__item--illustrated">
          <div class="benefits__text">
            <h3 class="benefits__number">
              Настоящий городок
            </h3>
            <p class="benefits__description">
              Седона не атракцион для туристов, там течет своя жизнь
            </p>
          </div>
          <div class="benefits__img">
           {% include "./templates/picture.twig" with {name: "photo-city", class: "photo-sedona"} %}
          </div>
          <div class="advantages">
            <ul class="advantages__list">
              <li class="advantages__item advantages__item--housing">
                <h3 class="advantages__title advantages__title--housing">Жилье</h3>
                <p class="advantages__description advantages__description--housing">Рекомендуем пожить в настоящем мотеле, все как в кино!</p>
              </li>
              <li class="advantages__item advantages__item--food">
                <h3 class="advantages__title advantages__title--food">Еда</h3>
                <p class="advantages__description advantages__description--food">Всегда заказывайте фирменный бургер,вы не разочаруетесь!</p>
              </li>
              <li class="advantages__item advantages__item--souvenirs">
                <h3 class="advantages__title advantages__title--souvenirs">Сувениры</h3>
                <p class="advantages__description advantages__description--souvenirs">Не только китайского, но и местного производства!</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="benefits__item benefits__item--illustrated">
          <div class="benefits__texts">
            <h3 class="benefits__number">
              Там есть мост дьявола
            </h3>
            <p class="benefits__description">
              Да, по нему можно пройти! Если вы осмелитесь, конечно
            </p>
          </div>
          <div class="benefits__img">
            {% include "./templates/picture.twig" with {name: "photo-bridge", class: "photo-sedona"} %}
          </div>
        </li>
        <li class="benefits__item">
          <h3 class="benefits__number">
            Небольшая площадь
          </h3>
          <p class="benefits__description">
            Все интересные места находятся очень близко
          </p>
        </li>
        <li class="benefits__item">
          <h3 class="benefits__number">
            Красивая дорога
          </h3>
          <p class="benefits__description">
            Ехать в седону из Лас-вегаса совсем не скучно!
          </p>
        </li>
        <li class="benefits__item">
          <h3 class="benefits__number">
            мало туристов
          </h3>
          <p class="benefits__description">
            Большинство едет в гранд каньон и толпится там
          </p>
        </li>
      </ol>
    </div>
  </section>
  <section class="information">
    <h2 class="information__title">
      Заинтересовались?
    </h2>
    <p class="information__text">
      Укажите предполагаемые даты поездки, и мы покажем вам лучшие предложения гостиниц в седоне
    </p>
    <a class="button button--index" href="#">Найти гостиницу</a>
  </section>
  <div class="maps">
    {% include "./templates/picture.twig" with {name: "map", class: "maps-image"} %}
  </div>
</main>
{% endblock %}
